/* Toggle buttons */
.paragon-gin-browser--toggle {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background: white;
  z-index: 5;
  padding: 0 1rem;
  padding-bottom: 1rem;
}

.paragon-gin-browser--toggle button {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0 6px 8px;
  border-bottom: 2px solid var(--gin-border-color);
}

.paragon-gin-browser--toggle button svg {
  fill: #000;
}

/* Active button state. */
.paragon-gin-browser--toggle button.active {
  border-bottom: 2px solid #1156E2;
}
.paragon-gin-browser--toggle button.active svg {
  fill: #1156E2;
}

/* Layout Builder Overrides */
.glb-layout-builder-browser .glb-claro-details__wrapper {
  padding: 1.5rem 0;
  margin: 0;
}

.glb-canvas-form {
  width: 100%;
  left: 1rem;
}

/* Block Item */
.paragon-gin-browser-wrapper > .paragon-gin-card {
  width: calc(50% - 0.5rem);
  font-weight: bold;
  color: var(--gin-color-title);
  text-decoration: none;
  border-radius: 6px;
  padding: 0;
  position: relative;
}

.paragon-gin-card .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Layout Builder Browser Block Library. */
.paragon-gin-card a.browse-library-icon.align-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 2;
  margin: 0;
  font-size: 0;
}

.paragon-gin-card a.layout-builder-browser-block-item  {
  width: 100%;
  /* This is the height of the Browse Library icon if present */
  min-height: 28px;
  padding:0 !important;
  margin: 0 !important;
  background: transparent !important;
  text-decoration: none;
}
.paragon-gin-card .layout-builder-browser-block-item-label {
  margin-right: 2rem;
}
 
/* List View */
.paragon-gin-browser-wrapper[data-view='list'] {
  flex-direction: column;
  width: 100%;
}

.paragon-gin-browser-wrapper[data-view='list'] > .paragon-gin-card {
  padding: 0.5rem;
  width: unset;
}

.paragon-gin-browser-wrapper[data-view='list'] > .paragon-gin-card:hover {
  background: var(--gin-color-primary-light-hover);
}

.paragon-gin-browser-wrapper[data-view='list'] .card-img {
  display: none;
}

/* Icon View */
.paragon-gin-browser-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.paragon-gin-browser-wrapper[data-view='icon'] > .paragon-gin-card {
  border: 2px solid var(--gin-border-color);
}

.paragon-gin-browser-wrapper[data-view='icon'] .card-img {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  background: var(--gin-border-color);
  overflow: hidden;
}

.paragon-gin-browser-wrapper[data-view='icon'] img {
  width: auto;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.paragon-gin-browser-wrapper[data-view='icon'] .card-content {
  background: white;
  border-radius: 0 0 4px 4px;
  padding: 1rem;
}
/* Layout Builder Browser Block library select block form */
.lbb-block-library {
  padding: 1rem;
}
.lbb-block-library input {
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--gin-border-color);
}
.lbb-block-library a {
  text-decoration: none;
  font-weight: bold;
}
.lbb-block-library > a {
  padding: 12px 16px;
  border: 2px solid var(--gin-color-primary);
  border-radius: 6px;
  color: var(--gin-color-primary);
  margin-top: 1rem;
  display: inline-block;
}