.glb-sidebar__content {
  padding-right: 1.3rem;
}

.layout-container {
  overflow-x: hidden;
  margin: 0 !important;
}

#drupal-off-canvas-wrapper h4, #drupal-off-canvas-wrapper .h4,
#layout-builder-add-block h4,
#layout-builder-add-block .h4,
#layout-builder-update-block h4,
#layout-builder-update-block .h4 {
  display: inline-block;
  /*margin: 0;*/
  font-size: 1.25rem;
  font-weight: bold;
  font-family: revert;
}

#drupal-off-canvas-wrapper .js-form-item-settings-admin-label,
#layout-builder-add-block .js-form-item-settings-admin-label,
#layout-builder-update-block .js-form-item-settings-admin-label {
  display: none;
}

/* Block tooltip */
#layout-builder .lb-tooltip {
  display: none !important;
  position: absolute;
}

/* Style tooltips for section operation labels. */
.layout-builder__section > .layout-builder__link .lb-tooltip {
  transform: translateY(-100%);
  left: 0;
}

#layout-builder .layout-builder__section > [data-tooltip-added]:hover .lb-tooltip {
  display: inline-block !important;
  text-indent: initial;
  z-index: 90;
  text-transform: capitalize;
  text-wrap: nowrap;
  font-family: var(--gin-font);
  padding: calc(1em - 8px) calc(1.5em - 4px) !important;
  border-radius: var(--gin-border-s);
  border: 0;
  font-variation-settings: "wght" 600;
  font-size: var(--gin-font-size-xs) !important;
  color: #fff;
  background-color: var(--gin-tooltip-bg);
}

/* Style tooltips for block labels. */
#layout-builder .layout-builder-block:hover > .lb-tooltip {
  display: inline-block !important;
  position: absolute;
  z-index: 1;
  top: -19px;
  right: 0;
  height: 20px;
  padding: 0 4px 0 4px !important;
  color: #fff;
  background: var(--gin-tooltip-bg);
  font-size: var(--gin-font-size-xxs) !important;
  font-variation-settings: "wght" 600;
  line-height: 20px !important;
  border: unset !important;
}

.glb-preview-regions--enable .layout-builder__region .layout-builder__region-label {
  background: var(--gin-tooltip-bg) !important;
  font-size: var(--gin-font-size-xxs) !important;
  font-variation-settings: "wght" 600;
}

.layout-builder-block.is-layout-builder-highlighted > .lb-tooltip,
body div.layout-builder-block:has(> div.ajax-progress) > .lb-tooltip,
.layout-builder:not(:has(.layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder-block.focus > .lb-tooltip {
  background-color: var(--gin-color-primary) !important;
}

/* Add spacing above and below when no blocks in region. */
.layout-builder__section .layout-builder__region:not(:has(.layout-builder-block)) .layout-builder__add-block {
  margin-top: 36px !important;
  margin-bottom: 30px !important;
  top: unset;
}

/* Handle display when entire section is empty. */
#layout-builder .js-layout-builder-block.block-empty {
  border: 4px solid var(--gin-color-danger);
  background: var(--gin-color-danger-light);
  height: 100px;
}
#layout-builder .js-layout-builder-block.block-empty:after {
  content: "This block has no content.";
}

form.layout-builder-configure-block .tabledrag-toggle-weight-wrapper {
  display: none;
}
form.layout-builder-configure-block .horizontal-tabs {
  margin: 0;
  border: none;
}
form.layout-builder-configure-block .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a,
form.layout-builder-configure-block .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected a {
  padding-top: calc(var(--gin-spacing-l) - var(--gin-spacing-xxs));
  padding-bottom: calc(var(--gin-spacing-l) - var(--gin-spacing-xxs));
}
form.layout-builder-configure-block input.glb-button {
  padding: 0.5em 1em !important;
  margin: 0 !important;
}
form.layout-builder-configure-block input.glb-button:not(:only-child) {
  margin-right: 1rem !important;
}
form.layout-builder-configure-block .paragraphs-dropdown-actions {
  padding: 0 1rem;
}
form.layout-builder-configure-block .field--widget-paragraphs .tabledrag-handle > .handle {
  display: none;
}
form.layout-builder-configure-block .glb-canvas-form__actions {
  padding: 1rem;
}
form.layout-builder-configure-block fieldset {
  border: none;
}
form.layout-builder-configure-block fieldset > .fieldset__wrapper {
  margin-left: 0;
}

/* Actually hide the div if 'Preview Content' is unchecked. */
.block .layout-builder-block__content-preview-placeholder-label + .contextual + div {
  display: none !important;
}

/* Operation Buttons */
.layout-builder .layout-builder__link--add-template-to-library,
.layout-builder__add-section a.layout-builder__link,
.layout-builder__add-block a.layout-builder__link {
  font-size: var(--gin-font-size-xxs) !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding: calc(1em - 8px) calc(1.5em - 4px) !important;
  background-color: var(--gin-bg-app) !important;
}
.layout-builder__add-section a.layout-builder__link:not(.layout-builder__link--import-from-library):hover,
.layout-builder__add-block a.layout-builder__link:hover {
  background-color: var(--gin-color-primary) !important;
}

/* Unsets */
.layout-builder-block.focus,
.layout-builder__add-block {
  outline: unset !important;
}
.layout-builder__add-section,
.layout-builder__add-block {
  margin: 0;
}

.layout-builder__layout {
  margin-top: 0;
}

.layout-builder__add-block,
.layout-builder__add-section {
  min-height: 20px;
  display: flex;
  justify-content: center; /* aligns the items horizontally */
  align-items: center;
  position: relative;
}

.layout-builder__add-section.is-layout-builder-highlighted,
.layout-builder__add-block.is-layout-builder-highlighted {
  min-height: 150px;
  transition: all .2s ease-in-out;
  margin-top: 0px;
  margin-bottom: 0px;
}

.layout-builder__section:not(:has(.layout-builder-block)) {
  /*min-height: 100px;*/
}


.layout-builder__add-block a.layout-builder__link {
  visibility: hidden;
  opacity: 0;
}

.layout-builder__add-section a.layout-builder__link,
.layout-builder__section:hover a.layout-builder__link {
  opacity: 1;
  visibility: visible;
  transition: opacity .3s ease-in-out;
}
.layout-builder__add-section.is-layout-builder-highlighted a.layout-builder__link,
.layout-builder__add-block.is-layout-builder-highlighted a.layout-builder__link {
  visibility: hidden;
  opacity: 0 !important;
  transition: all .3s ease-in-out;
}

/* After and outline states */
/*.layout-builder__section::after,*/
.layout-builder:not(:has(.layout-builder-block.sortable-chosen)) .layout-builder__section::after,
.layout-builder-block::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  outline: unset !important;
}

/* Create transparent border to avoid shift when displaying */
.layout-builder__add-block,
.layout-builder__add-section,
.layout-builder__section::after,
.layout-builder__section:not(.gin-lb--disable-section-focus)::after,
.layout-builder-block::after,
.layout-builder__section:not(.gin-lb--disable-section-focus):hover::after
  /*.layout-builder__section:has(a.layout-builder__link:not(.layout-builder__link--add):hover)::after*/
{
  border: 2px transparent dashed !important;
  box-sizing: border-box;
  outline: unset !important;
}

/* Reset states when dragging or editing */
body:has(.is-layout-builder-highlighted) .gin-lb--form-actions,
body .layout-builder:has(.is-layout-builder-highlighted, .layout-builder-block.sortable-chosen, div.ajax-progress) .contextual,
body .layout-builder:has(.is-layout-builder-highlighted, .layout-builder-block.sortable-chosen, div.ajax-progress) a.layout-builder__link {
  visibility: hidden;
  opacity: 0 !important;
  transition: opacity .3s ease-in-out;
}

/* Highlight regions when dragging */
body .layout-builder:has(.layout-builder-block.sortable-chosen) .js-layout-builder-region {
  position: relative;
}

body .layout-builder:has(.layout-builder-block.sortable-chosen) .js-layout-builder-region::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  border: 1px dashed var(--gin-border-color-form-element)
}

/* Set hover state to dashed border. */
.layout-builder:not(:has(.is-layout-builder-highlighted, .layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder-block:hover::after,
.layout-builder:not(:has(.is-layout-builder-highlighted, .layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder__section:hover::after,
.layout-builder:not(:has(.is-layout-builder-highlighted, .layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder__section:not(.gin-lb--disable-section-focus):hover::after {
  border-color: var(--gin-border-color-form-element) !important;
}

.layout-builder:not(:has(.layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder__section:has(a.layout-builder__link:not(.layout-builder__link--add):hover)::after,
.layout-builder:not(:has(.layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder-block.focus:hover::after,
.layout-builder:not(:has(.layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder__add-block:has(a.layout-builder__link:hover),
.layout-builder:not(:has(.layout-builder-block.sortable-chosen, div.ajax-progress)) .layout-builder__add-section:has(a.layout-builder__link:hover) {
  border-color: var(--gin-color-primary) !important;
}

.layout-builder-block.is-layout-builder-highlighted::after,
body div.layout-builder-block:has(> div.ajax-progress)::after,
.layout-builder__section:has(.layout-builder__layout.is-layout-builder-highlighted, > div.ajax-progress)::after,
.layout-builder__add-section.is-layout-builder-highlighted,
.layout-builder__add-block.is-layout-builder-highlighted,
.layout-builder__add-section:has(> div.ajax-progress),
.layout-builder__add-block:has(> div.ajax-progress) {
  border: 2px solid var(--gin-color-primary) !important;
}

body .layout-builder div.layout-builder__section:has(> div.ajax-progress),
body div.layout-builder-block:has(> div.ajax-progress),
.layout-builder__add-section:has(> div.ajax-progress),
.layout-builder__add-block:has(> div.ajax-progress) {
  opacity: .5;
}

/* Override operation link displays for sections. */
.layout-builder__section > a.layout-builder__link--remove {
  --nth: 0;
  --icon-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64px' height='64px' viewBox='-7.2 -7.2 38.40 38.40' fill='none'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6' stroke='blue' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  --icon-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64px' height='64px' viewBox='-7.2 -7.2 38.40 38.40' fill='none'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M18 6V16.2C18 17.8802 18 18.7202 17.673 19.362C17.3854 19.9265 16.9265 20.3854 16.362 20.673C15.7202 21 14.8802 21 13.2 21H10.8C9.11984 21 8.27976 21 7.63803 20.673C7.07354 20.3854 6.6146 19.9265 6.32698 19.362C6 18.7202 6 17.8802 6 16.2V6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
}

.layout-builder__section > a.layout-builder__link--configure {
  --nth: 1;
  --icon-default: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='80px' height='80px' viewBox='0 -0.5 25 25' fill='blue' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2942 7.95881C13.5533 7.63559 13.5013 7.16358 13.178 6.90453C12.8548 6.64549 12.3828 6.6975 12.1238 7.02072L13.2942 7.95881ZM6.811 14.8488L7.37903 15.3385C7.38489 15.3317 7.39062 15.3248 7.39623 15.3178L6.811 14.8488ZM6.64 15.2668L5.89146 15.2179L5.8908 15.2321L6.64 15.2668ZM6.5 18.2898L5.7508 18.2551C5.74908 18.2923 5.75013 18.3296 5.75396 18.3667L6.5 18.2898ZM7.287 18.9768L7.31152 19.7264C7.36154 19.7247 7.41126 19.7181 7.45996 19.7065L7.287 18.9768ZM10.287 18.2658L10.46 18.9956L10.4716 18.9927L10.287 18.2658ZM10.672 18.0218L11.2506 18.4991L11.2571 18.491L10.672 18.0218ZM17.2971 10.959C17.5562 10.6358 17.5043 10.1638 17.1812 9.90466C16.8581 9.64552 16.386 9.69742 16.1269 10.0206L17.2971 10.959ZM12.1269 7.02052C11.8678 7.34365 11.9196 7.81568 12.2428 8.07484C12.5659 8.33399 13.0379 8.28213 13.2971 7.95901L12.1269 7.02052ZM14.3 5.50976L14.8851 5.97901C14.8949 5.96672 14.9044 5.95412 14.9135 5.94123L14.3 5.50976ZM15.929 5.18976L16.4088 4.61332C16.3849 4.59344 16.3598 4.57507 16.3337 4.5583L15.929 5.18976ZM18.166 7.05176L18.6968 6.52192C18.6805 6.50561 18.6635 6.49007 18.6458 6.47532L18.166 7.05176ZM18.5029 7.87264L19.2529 7.87676V7.87676L18.5029 7.87264ZM18.157 8.68976L17.632 8.15412C17.6108 8.17496 17.5908 8.19704 17.5721 8.22025L18.157 8.68976ZM16.1271 10.0203C15.8678 10.3433 15.9195 10.8153 16.2425 11.0746C16.5655 11.3339 17.0376 11.2823 17.2969 10.9593L16.1271 10.0203ZM13.4537 7.37862C13.3923 6.96898 13.0105 6.68666 12.6009 6.74805C12.1912 6.80943 11.9089 7.19127 11.9703 7.60091L13.4537 7.37862ZM16.813 11.2329C17.2234 11.1772 17.5109 10.7992 17.4552 10.3888C17.3994 9.97834 17.0215 9.69082 16.611 9.74659L16.813 11.2329ZM12.1238 7.02072L6.22577 14.3797L7.39623 15.3178L13.2942 7.95881L12.1238 7.02072ZM6.24297 14.359C6.03561 14.5995 5.91226 14.9011 5.89159 15.218L7.38841 15.3156C7.38786 15.324 7.38457 15.3321 7.37903 15.3385L6.24297 14.359ZM5.8908 15.2321L5.7508 18.2551L7.2492 18.3245L7.3892 15.3015L5.8908 15.2321ZM5.75396 18.3667C5.83563 19.1586 6.51588 19.7524 7.31152 19.7264L7.26248 18.2272C7.25928 18.2273 7.25771 18.2268 7.25669 18.2264C7.25526 18.2259 7.25337 18.2249 7.25144 18.2232C7.2495 18.2215 7.24825 18.2198 7.24754 18.2185C7.24703 18.2175 7.24637 18.216 7.24604 18.2128L5.75396 18.3667ZM7.45996 19.7065L10.46 18.9955L10.114 17.536L7.11404 18.247L7.45996 19.7065ZM10.4716 18.9927C10.7771 18.9151 11.05 18.7422 11.2506 18.499L10.0934 17.5445C10.0958 17.5417 10.0989 17.5397 10.1024 17.5388L10.4716 18.9927ZM11.2571 18.491L17.2971 10.959L16.1269 10.0206L10.0869 17.5526L11.2571 18.491ZM13.2971 7.95901L14.8851 5.97901L13.7149 5.04052L12.1269 7.02052L13.2971 7.95901ZM14.9135 5.94123C15.0521 5.74411 15.3214 5.6912 15.5243 5.82123L16.3337 4.5583C15.4544 3.99484 14.2873 4.2241 13.6865 5.0783L14.9135 5.94123ZM15.4492 5.7662L17.6862 7.6282L18.6458 6.47532L16.4088 4.61332L15.4492 5.7662ZM17.6352 7.58161C17.7111 7.6577 17.7535 7.761 17.7529 7.86852L19.2529 7.87676C19.2557 7.36905 19.0555 6.88127 18.6968 6.52192L17.6352 7.58161ZM17.7529 7.86852C17.7524 7.97604 17.7088 8.07886 17.632 8.15412L18.682 9.22541C19.0446 8.87002 19.2501 8.38447 19.2529 7.87676L17.7529 7.86852ZM17.5721 8.22025L16.1271 10.0203L17.2969 10.9593L18.7419 9.15928L17.5721 8.22025ZM11.9703 7.60091C12.3196 9.93221 14.4771 11.5503 16.813 11.2329L16.611 9.74659C15.0881 9.95352 13.6815 8.89855 13.4537 7.37862L11.9703 7.60091Z' /%3E%3C/svg%3E");
  --icon-hover: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='80px' height='80px' viewBox='0 -0.5 25 25' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2942 7.95881C13.5533 7.63559 13.5013 7.16358 13.178 6.90453C12.8548 6.64549 12.3828 6.6975 12.1238 7.02072L13.2942 7.95881ZM6.811 14.8488L7.37903 15.3385C7.38489 15.3317 7.39062 15.3248 7.39623 15.3178L6.811 14.8488ZM6.64 15.2668L5.89146 15.2179L5.8908 15.2321L6.64 15.2668ZM6.5 18.2898L5.7508 18.2551C5.74908 18.2923 5.75013 18.3296 5.75396 18.3667L6.5 18.2898ZM7.287 18.9768L7.31152 19.7264C7.36154 19.7247 7.41126 19.7181 7.45996 19.7065L7.287 18.9768ZM10.287 18.2658L10.46 18.9956L10.4716 18.9927L10.287 18.2658ZM10.672 18.0218L11.2506 18.4991L11.2571 18.491L10.672 18.0218ZM17.2971 10.959C17.5562 10.6358 17.5043 10.1638 17.1812 9.90466C16.8581 9.64552 16.386 9.69742 16.1269 10.0206L17.2971 10.959ZM12.1269 7.02052C11.8678 7.34365 11.9196 7.81568 12.2428 8.07484C12.5659 8.33399 13.0379 8.28213 13.2971 7.95901L12.1269 7.02052ZM14.3 5.50976L14.8851 5.97901C14.8949 5.96672 14.9044 5.95412 14.9135 5.94123L14.3 5.50976ZM15.929 5.18976L16.4088 4.61332C16.3849 4.59344 16.3598 4.57507 16.3337 4.5583L15.929 5.18976ZM18.166 7.05176L18.6968 6.52192C18.6805 6.50561 18.6635 6.49007 18.6458 6.47532L18.166 7.05176ZM18.5029 7.87264L19.2529 7.87676V7.87676L18.5029 7.87264ZM18.157 8.68976L17.632 8.15412C17.6108 8.17496 17.5908 8.19704 17.5721 8.22025L18.157 8.68976ZM16.1271 10.0203C15.8678 10.3433 15.9195 10.8153 16.2425 11.0746C16.5655 11.3339 17.0376 11.2823 17.2969 10.9593L16.1271 10.0203ZM13.4537 7.37862C13.3923 6.96898 13.0105 6.68666 12.6009 6.74805C12.1912 6.80943 11.9089 7.19127 11.9703 7.60091L13.4537 7.37862ZM16.813 11.2329C17.2234 11.1772 17.5109 10.7992 17.4552 10.3888C17.3994 9.97834 17.0215 9.69082 16.611 9.74659L16.813 11.2329ZM12.1238 7.02072L6.22577 14.3797L7.39623 15.3178L13.2942 7.95881L12.1238 7.02072ZM6.24297 14.359C6.03561 14.5995 5.91226 14.9011 5.89159 15.218L7.38841 15.3156C7.38786 15.324 7.38457 15.3321 7.37903 15.3385L6.24297 14.359ZM5.8908 15.2321L5.7508 18.2551L7.2492 18.3245L7.3892 15.3015L5.8908 15.2321ZM5.75396 18.3667C5.83563 19.1586 6.51588 19.7524 7.31152 19.7264L7.26248 18.2272C7.25928 18.2273 7.25771 18.2268 7.25669 18.2264C7.25526 18.2259 7.25337 18.2249 7.25144 18.2232C7.2495 18.2215 7.24825 18.2198 7.24754 18.2185C7.24703 18.2175 7.24637 18.216 7.24604 18.2128L5.75396 18.3667ZM7.45996 19.7065L10.46 18.9955L10.114 17.536L7.11404 18.247L7.45996 19.7065ZM10.4716 18.9927C10.7771 18.9151 11.05 18.7422 11.2506 18.499L10.0934 17.5445C10.0958 17.5417 10.0989 17.5397 10.1024 17.5388L10.4716 18.9927ZM11.2571 18.491L17.2971 10.959L16.1269 10.0206L10.0869 17.5526L11.2571 18.491ZM13.2971 7.95901L14.8851 5.97901L13.7149 5.04052L12.1269 7.02052L13.2971 7.95901ZM14.9135 5.94123C15.0521 5.74411 15.3214 5.6912 15.5243 5.82123L16.3337 4.5583C15.4544 3.99484 14.2873 4.2241 13.6865 5.0783L14.9135 5.94123ZM15.4492 5.7662L17.6862 7.6282L18.6458 6.47532L16.4088 4.61332L15.4492 5.7662ZM17.6352 7.58161C17.7111 7.6577 17.7535 7.761 17.7529 7.86852L19.2529 7.87676C19.2557 7.36905 19.0555 6.88127 18.6968 6.52192L17.6352 7.58161ZM17.7529 7.86852C17.7524 7.97604 17.7088 8.07886 17.632 8.15412L18.682 9.22541C19.0446 8.87002 19.2501 8.38447 19.2529 7.87676L17.7529 7.86852ZM17.5721 8.22025L16.1271 10.0203L17.2969 10.9593L18.7419 9.15928L17.5721 8.22025ZM11.9703 7.60091C12.3196 9.93221 14.4771 11.5503 16.813 11.2329L16.611 9.74659C15.0881 9.95352 13.6815 8.89855 13.4537 7.37862L11.9703 7.60091Z' /%3E%3C/svg%3E");
}

.layout-builder__section > a.layout-builder__link--add-section-to-library {
  --nth: 2;
  --icon-default: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' width='64px' height='64px' viewBox='-11.2 -11.2 54.40 54.40' version='1.1' %3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Esave-floppy%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-152.000000, -515.000000)' fill='blue'%3E%3Cpath d='M171,525 C171.552,525 172,524.553 172,524 L172,520 C172,519.447 171.552,519 171,519 C170.448,519 170,519.447 170,520 L170,524 C170,524.553 170.448,525 171,525 L171,525 Z M182,543 C182,544.104 181.104,545 180,545 L156,545 C154.896,545 154,544.104 154,543 L154,519 C154,517.896 154.896,517 156,517 L158,517 L158,527 C158,528.104 158.896,529 160,529 L176,529 C177.104,529 178,528.104 178,527 L178,517 L180,517 C181.104,517 182,517.896 182,519 L182,543 L182,543 Z M160,517 L176,517 L176,526 C176,526.553 175.552,527 175,527 L161,527 C160.448,527 160,526.553 160,526 L160,517 L160,517 Z M180,515 L156,515 C153.791,515 152,516.791 152,519 L152,543 C152,545.209 153.791,547 156,547 L180,547 C182.209,547 184,545.209 184,543 L184,519 C184,516.791 182.209,515 180,515 L180,515 Z' id='save-floppy' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --icon-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' width='64px' height='64px' viewBox='-11.2 -11.2 54.40 54.40' version='1.1' %3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Esave-floppy%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-152.000000, -515.000000)' fill='white'%3E%3Cpath d='M171,525 C171.552,525 172,524.553 172,524 L172,520 C172,519.447 171.552,519 171,519 C170.448,519 170,519.447 170,520 L170,524 C170,524.553 170.448,525 171,525 L171,525 Z M182,543 C182,544.104 181.104,545 180,545 L156,545 C154.896,545 154,544.104 154,543 L154,519 C154,517.896 154.896,517 156,517 L158,517 L158,527 C158,528.104 158.896,529 160,529 L176,529 C177.104,529 178,528.104 178,527 L178,517 L180,517 C181.104,517 182,517.896 182,519 L182,543 L182,543 Z M160,517 L176,517 L176,526 C176,526.553 175.552,527 175,527 L161,527 C160.448,527 160,526.553 160,526 L160,517 L160,517 Z M180,515 L156,515 C153.791,515 152,516.791 152,519 L152,543 C152,545.209 153.791,547 156,547 L180,547 C182.209,547 184,545.209 184,543 L184,519 C184,516.791 182.209,515 180,515 L180,515 Z' id='save-floppy' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.layout-builder__section > a.layout-builder__link {
  position: absolute;
  font-size: 0;
  width: 30px;
  height: 30px;
  background-color: var(--gin-bg-app) !important;
  /*border: 2px solid transparent;*/
  mask-image: unset;
  margin: 0;
  padding: 0;
  border-radius: var(--gin-border-m);
  left: calc((34px * var(--nth)) + 8px);
  z-index: 3;
  top: 6px;
  display: none;
}

.layout-builder__section:hover > a.layout-builder__link {
  display: block;
}

.layout-builder__section > a.layout-builder__link::after {
  content: '';
  mask-image: unset;
  width: 30px;
  height: 30px;
  position: absolute;
  inset: 0;
  background: var(--icon-default);
  background-size: cover;
  border-radius: var(--gin-border-m);
}

.layout-builder__section:hover > a.layout-builder__link,
.layout-builder__section > a.layout-builder__link:hover {
  border-color: var(--gin-color-primary) !important;
  background-color: var(--gin-bg-app) !important;
}

.layout-builder__section:hover > a.layout-builder__link::after {
  background-color: unset !important;
}

.layout-builder__section > a.layout-builder__link:hover::after {
  background-color: var(--gin-color-primary) !important;
  background: var(--icon-hover);
  background-size: cover;
}

.layout-builder-block .contextual .trigger::before {
  width: 18px;
  height: 18px;
  mask-size: cover !important;
}

.layout-builder-block .contextual {
  right: 6px;
}

.layout-builder-block .contextual .trigger,
.layout-builder-block .contextual .trigger:focus,
.layout-builder-block .contextual .trigger:hover,
.layout-builder-block .contextual.open .trigger {
  right: 0;
  width: 30px !important;
  height: 30px !important;
  background-color: var(--gin-bg-app) !important;
  border: unset !important;
  border-radius: var(--gin-border-m);
  box-shadow: none;
}

.layout-builder-block .contextual .trigger:hover::before {
  background-color: var(--gin-bg-app) !important;
}

.layout-builder-block .contextual .trigger:hover {
  background-color: var(--gin-color-primary) !important;
}
