

.is-horizontal .tabs .tabs__tab .tabs__link {
  font-size: .8rem;
}

.is-horizontal .tabs .tabs__tab .tabs__link:focus {
  box-shadow: inset 0 0 0 1px var(--colorGinFocusBorder), inset 0 0 0 4px var(--colorGinFocus);
}

.is-horizontal .tabs .tabs__tab {
  margin-right: 0;
}
.is-horizontal .tabs  .tab-moderation-group {
  border-top: solid 1px var(--gin-border-color-layer);
  border-bottom: solid 1px var(--gin-border-color-layer);
}

.is-horizontal .tabs .tabs__content-moderation-draft-label {
  color: var(--colorGinTitle);
  font-size: .8rem;
  font-weight: normal;
  align-items: center;
  vertical-align: middle;
  line-height: 1.2rem;
  padding: 0.75rem 1rem;
  margin-left: .5rem;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
  border-left: solid 1px var(--gin-border-color-layer);
}

.is-horizontal .tabs li.tab-moderation-group-last {
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  margin-right: .5rem;
  border-right: solid 1px var(--gin-border-color-layer);
}

.is-horizontal .tabs li.tab-moderation-group-last a.tabs__link {
  margin-right: 0;
}
