<div class='container paragon-gin-browser--toggle'>
  <button class='{{ default_view == 'icon' ? 'active' }}' aria-label='Icon view' data-view='icon' id='paragon-gin-icon-view'>
  <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H4V4H0V0ZM6 0H10V4H6V0ZM12 0H16V4H12V0ZM0 6H4V10H0V6ZM6 6H10V10H6V6ZM12 6H16V10H12V6ZM0 12H4V16H0V12ZM6 12H10V16H6V12ZM12 12H16V16H12V12Z"/>
  </svg>
  </button>

  <button class='{{ default_view == 'list' ? 'active' }}' aria-label='List view' data-view='list' id='paragon-gin-list-view'>
    <svg width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 6H2V4H0V6ZM0 10H2V8H0V10ZM0 2H2V0H0V2ZM4 6H18V4H4V6ZM4 10H18V8H4V10ZM4 0V2H18V0H4Z"/>
    </svg>
  </button>
</div>